body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #fafafa;
  min-width: 400px;;
}

/* Mobile first properties */

/* Content root except header */
#app {
  padding-top: 56px;
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;

  /* For mobile layout */
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.grid-container {
  display: grid;
}

/* Global navigation */
#side-nav {
  background: #311B92;
  color: #fafafa;
}

/* Nav item */
#side-nav ul li {
  padding: 8px;
  display: inline-block;
}

#side-nav,
#news-container,
main {
  padding: 24px;
  box-sizing: border-box;
}

main {
  padding: 12px 48px;
}


#side-nav,
#news-container {
  vertical-align: top;
}

#news-container {
  display: none;
}

main {
  grid-column: 1;
  grid-row: 2;
  color: #212121;
  line-height: 150%;
}

h1,
h2 {
  color: #616161;
  font-weight: 300;
  margin: 36px 0 8px 0;
}

header {
  background: #1E88E5;
  color: #fafafa;
  height: 56px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.1);
  box-shadow: 0 0 8px rgba(20, 20, 20, 0.1);
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 999;
}

/* Header logo */
#site-logo {
  position: absolute;
  
  /* Horizontal centering with absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  color: #fafafa;
  max-width: calc(1024px - 48px);
  width: calc(100% - 48px);
}

/* Tablets */
@media (min-width: 768px) {
  #side-nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  #side-nav ul li {
    display: block;
    cursor: pointer;
    transition: transform 100ms ease-in;
  }

  #side-nav ul li:hover {
    transform: translateX(8px);
  }

  #side-nav {
    display: inline-block;
    /* inline-block annonyance */
    width: 20%;
    min-width: 200px;
  }

  #side-nav,
  #news-container {
    min-height: 100vh;
  }

  main {
    grid-row: 1;
    grid-column: main-start;
  }

  #app {
    grid-template-columns: [nav-start] auto [main-start] auto;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px){
  /* News article list */
  #news-container {
    display: initial;
    padding: 0;
    margin-right: 24px;
    grid-column: [news-start];
  }

  /* News item */
  #news-container article {
    color: #616161;
    padding: 18px;
    margin-top: 8px;
    border-radius: 2px;
    border-bottom: 2px solid #BDBDBD;
    cursor: pointer;
  }

  #news-container article:hover {
    opacity: 0.75;
  }

  #news-container article h3 {
    font-size: 16px;
  }

  #app {
    grid-template-rows: main auto;
    grid-template-columns: [nav-start] auto [main-start] auto [news-start] auto;
  }
}